**/.settings/
**/.classpath
**/.project
**/.idea/
**/target/
**/test-output/
**/*.iml
**/*.eml
**/*.ipr
**/*.iws
**/*.log
**/*.ids
**/.DS_Store
**/nbactions.xml
**/manifest.mf
**/nb-configuration.xml
**/Err.log
**/Err.log.*
**/build.properties
build.properties
project.properties
nb-configuration.xml
nbactions.xml
*.orig

/metadata/nbproject/
