**/.settings/
**/.classpath
**/.project
**/.idea/
**/target/
**/test-output/
**/*.iml
**/*.eml
**/*.ipr
**/*.iws
**/*.log
**/*.ids
**/.DS_Store
**/nbactions.xml
**/manifest.mf
**/nb-configuration.xml
**/Err.log
**/Err.log.*
**/build.properties
build.properties
project.properties
nb-configuration.xml
nbactions.xml
*.orig

/metadata/nbproject/
${env.KIVAKIT_ASSETS_HOME}/
${env.CACTUS_ASSETS_HOME}/
# build product cruft
cactus-maven-model/cactus/
cactus-metadata/cactus/
cactus-cli/cactus/
cactus-git/cactus/
cactus-maven-log/cactus/
/cactus-maven-model/nbproject/
